In [1]:
import numpy as np
import pandas as pd

In [2]:
a = [6, 6, 4, 6, 9]

In [3]:
b = ['a', 'b', 'c', 'd', 'e']

In [12]:
df = pd.DataFrame(a, index = b, columns = ['test'])

In [13]:
df

   test
a     6
b     6
c     4
d     6
e     9

In [14]:
df.columns

Index(['test'], dtype='object')

In [19]:
df.columns.values

array(['test'], dtype=object)

[Index(['test'], dtype='object')]